@import 'atoms/variables';

.container{
    .heading{
        h2{
            margin-bottom: 0;
        }

        .subHeading{
            color: $darkGrey;
        }
    }

    .createAccount{

    }

    p{
        &.intro{
            margin-bottom: 1.2em;
            color: black;

            &:after{
                height: 0.5em;
            }
        }

        &.formHeading{
            margin-bottom: 1.2em;
        }

        span{
            &.footing{
                display: block;
                margin-top: 1.3em;
                font-style: italic;
                font-size: 0.9em;

                a{
                    font-size: 1em;
                    color: black;
                    font-weight: 600;
                    font-style: normal;
                    transition: color 0.4s ease-in-out;

                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }
}
