/*
 * Our Grid - v0.5
 *
 * A custom grid system built by Arcane [www.arcane.ws]
 *
 * Requirements:
 * sass
 *
 * @author Jessica Mundt [j.mundt@arcane.ws]
 */

//=====================================================
//  1. Global Settings
//=====================================================

$grid-wrapper-class          : wrapper;
$grid-row-class              : row;
$grid-unit-class             : unit;			  

$grid-column-total           : 12;
$grid-padding                : $spacing;

$grid-gutter-position        : 'split';
$grid-gutter-width           : $spacing;
$grid-gutter-height          : $spacing;

$grid-breakpoint-for-phone   : $phoneBp;
$grid-breakpoint-for-tablet  : $tabletBp;
$grid-breakpoint-for-laptop  : $laptopBp;
$grid-breakpoint-for-desktop : $desktopBp;

$grid-debug-mode             : false;


@import "src/_functions.scss";
@import "src/_mixins.scss";


@import "src/_classes.scss";
