@mixin build-unit-gutters ($include-gutters, $i) {

	$span       : ($grid-column-total / $i);
	$percentage : (100% / $span);

	// Set the Side Gutters
	@if ($grid-gutter-position == 'before') {
		margin-left: calculate-unit-gutter-width($span); //for browsers that don't support calc(), because the unit.size will be affected with calc()
		margin-left: $grid-gutter-width;
		&:nth-of-type(#{$span}n+1) {
			margin-left: 0;
		}
	}
	@else if ($grid-gutter-position == 'after') {
		margin-right: calculate-unit-gutter-width($span); //for browsers that don't support calc(), because the unit.size will be affected with calc()
		margin-right: $grid-gutter-width;
		&:nth-of-type(#{$span}n) {
			margin-right: 0;
		}
	}

	// Set the top Gutters
	// &:nth-of-type(n+2) { //reset all nth-of-type(n+2) because this was set as the 'default' gutter
	// 	margin-top: 0;
	// }
	// &:nth-of-type(n+#{($span + 1)}) {
	// 	margin-top: $grid-gutter-height;
	// }

}

@mixin build-all-unit-gutters ($include-gutters, $class-slug:null) {
	@if ($include-gutters == true) and ($class-slug != null) {
		@for $i from 1 through $grid-column-total {
			&.#{$class-slug}-#{$i} {

				@include build-unit-gutters($include-gutters, $i);

			}
		}
	}
}

@mixin media-queries-for-all-unit-gutters($include-gutters:true) {

	// Bottom Gutters for all units
	// @if ($include-gutters == true) {
	// 	margin-bottom: $grid-gutter-height;
	// }

	// Simple easy gutters for the 'split' gutter positions
	@if ($include-gutters == true) and ($grid-gutter-position == 'split') {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}

	// More complex gutters, based on width percentage and exactly how many units are in the row...
	// * Note: The :not psuedo selector is not supported by IE8, so do not use the $gutter-position 'before' or 'after' if the build has to be IE8 compatible
	@if ($include-gutters == true) and ($grid-gutter-position != 'split') {
		// Phone Gutters
		&[class*="phone-"]:not([class*="tablet-"]):not([class*="laptop-"]):not([class*="desktop-"]) {
			@media (min-width: $grid-breakpoint-for-phone) {
				@include build-all-unit-gutters($include-gutters, phone);
			}
		}
		&[class*="phone-"][class*="tablet-"] {
			@media (min-width: $grid-breakpoint-for-phone) and (max-width:$grid-breakpoint-for-tablet) {
				@include build-all-unit-gutters($include-gutters, phone);
			}
		}
		&[class*="phone-"][class*="laptop-"] {
			@media (min-width: $grid-breakpoint-for-phone) and (max-width:$grid-breakpoint-for-laptop) {
				@include build-all-unit-gutters($include-gutters, phone);
			}
		}
		&[class*="phone-"][class*="desktop-"] {
			@media (min-width: $grid-breakpoint-for-phone) and (max-width:$grid-breakpoint-for-desktop) {
				@include build-all-unit-gutters($include-gutters, phone);
			}
		}

		// Tablet Gutters
		&[class*="tablet-"]:not([class*="laptop-"]):not([class*="desktop-"]) {
			@media (min-width: $grid-breakpoint-for-tablet) {
				@include build-all-unit-gutters($include-gutters, tablet);
			}
		}
		&[class*="tablet-"][class*="laptop-"] {
			@media (min-width: $grid-breakpoint-for-tablet) and (max-width:$grid-breakpoint-for-laptop) {
				@include build-all-unit-gutters($include-gutters, tablet);
			}
		}
		&[class*="tablet-"][class*="desktop-"] {
			@media (min-width: $grid-breakpoint-for-tablet) and (max-width:$grid-breakpoint-for-desktop) {
				@include build-all-unit-gutters($include-gutters, tablet);
			}
		}

		// Laptop Gutters
		&[class*="laptop-"]:not([class*="desktop-"]) {
			@media (min-width: $grid-breakpoint-for-laptop) {
				@include build-all-unit-gutters($include-gutters, laptop);
			}
		}
		&[class*="laptop-"][class*="desktop-"] {
			@media (min-width: $grid-breakpoint-for-laptop) and (max-width:$grid-breakpoint-for-desktop) {
				@include build-all-unit-gutters($include-gutters, laptop);
			}
		}

		// Desktop Gutters
		&[class*="desktop-"] {
			@media (min-width: $grid-breakpoint-for-desktop) {
				@include build-all-unit-gutters($include-gutters, desktop);
			}
		}

		// IE Fallbacks
		// Because the :not selector will not work, also media queries are pointless...
		@media screen\0 { //IE 8, 9 and 10
			&[class*="phone-"]{
				@include build-all-unit-gutters($include-gutters, phone);
			}
			&[class*="tablet-"]{
				@include build-all-unit-gutters($include-gutters, tablet);
			}
			&[class*="laptop-"]{
				@include build-all-unit-gutters($include-gutters, laptop);
			}
			&[class*="desktop-"]{
				@include build-all-unit-gutters($include-gutters, desktop);
			}
		}
	}
}
