@import "_unit.sizes.scss";
@import "_unit.gutters.scss";

@mixin unit () {
	float:left;
	width: 100%; //for browsers that don't support calc()
    box-sizing: border-box;

	@if (($grid-gutter-position == 'before') and (strip-unit($grid-gutter-width) > 0)) or (($grid-gutter-position == 'after') and (strip-unit($grid-gutter-width) > 0)) {
		width: calc(100% - #{$grid-gutter-width});
	}

	@include media-queries-for-all-unit-sizes();
	@include media-queries-for-all-unit-gutters();
}
