@mixin build-unit-size ($include-gutters, $i) {
	
	$span       : ($grid-column-total / $i);
	$percentage : (100% / $span);
	
	@if ($i == $grid-column-total) {
		width: 100%; //for browsers that don't support calc()
		@if ($include-gutters == true) {
			width: calc(100% - #{$grid-gutter-width});
		}
	}
	@else {
		@if ($include-gutters == false) or ($grid-gutter-position == 'split') or (strip-unit($grid-gutter-width) == 0) or ($i == 1) {
			width: $percentage;
		}
		@else {
			width: calculate-unit-width($span); //for browsers that don't support calc()
			width: calc(#{$percentage} - #{$grid-gutter-width});
		}
	}
}

@mixin build-all-unit-sizes ($include-gutters, $class-slug:null) {
	@if ($class-slug != null) {
		@for $i from 1 through $grid-column-total {
			&.#{$class-slug}-#{$i} {
				
				@include build-unit-size($include-gutters, $i);

			}
		}
	}
}

@mixin media-queries-for-all-unit-sizes($include-gutters:true) {
	&[class*="phone-"] {
		@media (min-width: $grid-breakpoint-for-phone) {
			@include build-all-unit-sizes($include-gutters, phone);
		}
	}

	&[class*="tablet-"] {
		@media (min-width: $grid-breakpoint-for-tablet) {
			@include build-all-unit-sizes($include-gutters, tablet);
		}
	}

	&[class*="laptop-"] {
		@media (min-width: $grid-breakpoint-for-laptop) {
			@include build-all-unit-sizes($include-gutters, laptop);
		}
	}

	&[class*="desktop-"] {
		@media (min-width: $grid-breakpoint-for-desktop) {
			@include build-all-unit-sizes($include-gutters, desktop);
		}
	}
}