@mixin wrapper (
	$padding		     : $grid-padding,
	$max-width           : 100%,
	$phone-max-width     : 100%,
	$tablet-max-width    : 90%,
	$laptop-max-width    : 80%,
	$desktop-max-width   : 1500px,
	$scale-type          : 'responsive'               // 'responsive', 'static'
) {

	padding: $padding;
	max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
	position: relative;
    @include clearfix;

	@if($scale-type == 'responsive') {
		@media (min-width:$grid-breakpoint-for-tablet) and (max-width:$grid-breakpoint-for-laptop) {
			max-width: $tablet-max-width;
		}
		@media (min-width:$grid-breakpoint-for-laptop) { //and (max-width:$grid-breakpoint-for-desktop) {
			max-width: $laptop-max-width;
		}
		@media (min-width:$grid-breakpoint-for-desktop) {
			max-width: $desktop-max-width;
		}
	}

	@if ($grid-debug-mode) {
		border:1px solid red !important;
	}

}
