@import 'atoms/variables';
@import 'atoms/typography';

.container{
    position: relative;
    text-align: left;

    .select{
        :global{
            font-size: 0.8em;
            font-weight: 600;

            .Select-input{
                position: absolute;
                line-height: 55px;
                padding-left: 1em;
            }

            .Select-control{
                border: none;
                border-radius: $borderRadius !important;
                line-height: 52px;
                box-shadow: none !important;
                z-index: 2;
                cursor: pointer;

                div.Select-placeholder {
                    color: $grey;
                }

                div.Select-placeholder, div.Select-value {
                    line-height: 55px;
                    font-size: 1.2em;
                    font-weight: 100;
                    margin: 0;
                    padding: 0 1em;
                }

                .Select-clear-zone{
                    width: 25px;
                }

                .Select-arrow-zone{
                    padding-right: 0;

                    .Select-arrow{
                        border: none;
                        display: inherit;

                        &:after{
                            content: "\f0d7";
                            font-family: FontAwesome;
                            font-size: 1.5em;
                        }
                    }
                }

                .Select-clear{
                    line-height: 55px;
                }
            }


            .Select-menu-outer{
                z-index: 5;
                box-shadow: 1px 3px 3px rgba(black, 0.3);
                margin-top: -1px;
                border-color: $grey;

                .Select-option{
                    padding: 0;
                    border-bottom: solid $grey 1px;

                    &.is-focused{
                        color: $white;
                        background: $primary;
                    }

                    &.is-selected{
                        color: $white;
                        background: $primary;
                    }
                }
            }

            .Select-option:last-child{
                border-bottom: none;
            }
        }

        .optionItem{
            list-style-type: none;
            line-height: 1.5em;
            font-size: 1.2em;
            font-weight: 100;
            margin: 0;
            padding: 1em;
            transition: background 0.3s ease-in-out, color 0.2s ease-in-out;

            &.centerText{
                text-align: center;
            }

            &:hover{
                color: $white;
                background: $primary;
            }

            i{
                margin-right: 0.6em;
                color: $grey;
            }
        }

        &.disabled{
            :global{
                .Select-control{
                    opacity: 0.7;
                }
            }
        }

        &.square {
            :global{
                .Select-input{
                    line-height: 40px;
                }

                .Select-control{
                    line-height: 42px;
                    border-radius: 0 !important;
                    border: solid 1px $grey;

                    div.Select-placeholder, div.Select-value, .Select-clear {
                        line-height: 40px;
                    }
                }
            }
        }

        &.error{
            :global{
                .Select-control{
                    border-color: $red !important;

                    div.Select-placeholder {
                        color: $red;
                    }
                }
            }
        }
    }

    :global{
        .is-focused{
            .Select-control{
                box-shadow: 0 0 4px $lightPrimary !important;
            }
        }
    }

    .multiSelect {
        :global {
            .Select-control {
                div.Select-value {
                    line-height: 32px;
                    border: none;
                    background-color: $grey;
                    color: $grey;

                    .Select-value-icon {
                        border-right: 1px solid $primary;

                        &:hover {
                            background-color: $primary;
                            color: $grey;
                        }
                    }
                }
            }
        }
    }
}
