@import 'atoms/variables';

.container{
    position: relative;
    transition: transform 0.4s ease-in-out;

    &.toggleMobileMenu{
        @media screen and (max-width: $tabletBp) {
            transform: translateX(-75%);
        }
    }

    .veggieContainer{
        position: absolute;
        right: 1.5em;
        top: 2.75em;
        z-index: 20;
        display: none;

        @media screen and (max-width: $tabletBp) {
            display: block;
        }

        @media screen and (max-width: $phoneBp) {
            top: 1.8em;
        }
    }

    .banner{
        width: 100%;
        height: 2em;
        overflow: hidden;

        img{
            min-width: 100%;
        }
    }

    :global{
        .heading{
            p{
                font-weight: 600;
                margin-bottom: 0;
                display: inline-block;
                position: relative;
                padding-bottom: 0.313em;

                &:after {
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 0.4em;
                    left: 0;
                    position: absolute;
                    background: $lightPrimary;
                    width: 100%;
                }

                &.normalize {
                    display: block;
                    margin-bottom: 3rem;
                    font-weight: 300;

                    &::after {
                        content: none;
                    }
                }
            }

            h1, h2{
                font-family: $primaryFont;
                margin: 0.5em 0;
                font-weight: 500;
            }
        }

        .body{
            ul{
                li{
                    position: relative;
                    padding-left: 1em;

                    &:before{
                        content: " ";
                        display: block;
                        width: 0.5em;
                        height: 0.5em;
                        background: $primary;
                        border-radius: 1em;
                        position: absolute;
                        left: 0;
                        top: 0.6em;
                    }
                }
            }
        }
    }
}
