@import 'atoms/variables';

.container{
    position: relative;
    margin: auto;
    overflow: hidden;

    :global{
        .linkedImage{
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 7rem;
                max-height: 10rem;
                overflow: auto;
                margin-bottom: 0;
                transition: box-shadow 0.2s ease-in-out;
            }

            & a:hover, & a:focus{
                img{
                    box-shadow: 0.125em 0.125em 1px $lightGrey;
                }
            }

        }
    }

    .content{
        padding-left: 9rem;

        p{
            margin-bottom: 0;
            text-align: left;
            line-height: 1.45;

            strong{
                display: inline-block;
                position: relative;

                font-size: 1.35rem;

                @media screen and (min-width: $laptopBp) {
                    font-size: 1.45rem;
                }
            }
        }

        em.searchTerm {
            color: $grey;
            display: block;
            font-weight: 200;
            font-size: 1.25rem;
            margin-bottom: 0.45rem;
        }

        span{
            color: $grey;
            display: block;
            font-weight: 200;
            font-size: 1.25rem;

            @media screen and (min-width: $laptopBp) {
                font-size: 1.45rem;
            }

            &.subNote, &.subNote strong {
                font-size: 1.25rem;
            }

            strong {
                font-weight: 700;
                font-style: none;
            }
        }

        .price, .quantity {
            float: left;
            padding-right: 1.5rem;
            color: $paypalBlue;
            font-weight: 500;
        }
    }
}
