@import 'atoms/variables';

.container{
    .banner{
        width: 100%;
        height: 2em;
        overflow: hidden;

        img{
            min-width: 100%;
        }
    }

    .footer{
        text-align:center;
        background: $darkGrey;
        padding:5em 0;

        @media screen and (max-width: $tabletBp) {
            padding: 2em 0;
        }
    }
}
