@import 'atoms/variables';
@import 'atoms/typography';

.container{
    position: relative;
    transition: transform 0.4s ease-in-out;

    &.toggleMobileMenu{
        @media screen and (max-width: $tabletBp) {
            transform: translateX(-75%);
        }
    }

    .veggieContainer{
        position: absolute;
        right: 1.5em;
        top: 3em;
        z-index: 20;
        display: none;

        @media screen and (max-width: $tabletBp) {
            display: block;
        }

        @media screen and (max-width: $phoneBp) {
            top: 1.8em;
        }
    }

    .banner{
        width: 100%;
        height: 2em;
        overflow: hidden;

        img{
            min-width: 100%;
        }
    }

    hr.divider{
        width: 98%;
        margin: 2.5em auto;
    }

    .partNumberSearch{
        text-align: right;

        @media screen and (max-width: $tabletBp) {
            text-align: center;
        }

        p{
            color: $white;
            line-height: 3;
            padding-right: 1em;

            @media screen and (max-width: 680px) {
                line-height: 1.5;
            }
        }

        .partSearchForm{
            text-align: left;

            @media screen and (max-width: $tabletBp) {
                text-align: center;
                margin-bottom: 1.5em;
            }

            form{
                display: inline-block;

                input[type="text"]{
                    min-width: 15em;
                    color: $darkGrey;
                }
            }
        }

    }
}
