@function calculate-unit ($i:0) {
	@if ($i > 0) {

		@if ($grid-gutter-position != 'split') {
			$units-per-row: $i;
			$number-of-full-gutters: $units-per-row;
			@if ($units-per-row > 1) {
				$number-of-full-gutters: $units-per-row - 1;
			}
			$gutter-width: strip-unit($grid-gutter-width) / 2;
			$gutter-percent: (($gutter-width * (100/$units-per-row)) / 100);
			$total-gutter-percent: ($gutter-percent * $number-of-full-gutters);
			$total-unit-percent: (100 - $total-gutter-percent);
			$unit-percent: ($total-unit-percent / $units-per-row);
			@return (
				width: $unit-percent * 1%,
				gutter-width: $gutter-percent * 1%
			);
		}

	}
}

@function calculate-unit-width($i:0) {
    @if ($i > 0) {
    	@return map-get(calculate-unit($i), width);
    }
}

@function calculate-unit-gutter-width($i:0) {
	@if ($i > 0) {
		@return map-get(calculate-unit($i), gutter-width);
	}
}