@import 'atoms/variables';

.container{
    position: relative;
    width: 100%;
    padding: 2em;
    background: $backgroundGrey;

    @media screen and (max-width: $tabletBp) {
        text-align: center;
    }

    p{
        @media screen and (min-width: $tabletBp) {
            margin-bottom: 0;
        }
        span{
            font-size: 1.4em;
            color: $grey;
            display: block;
            line-height: 1;
        }
    }

    :global{
        .callout{
            span{
                font-family: $secondaryFont;
                color: $black;
                font-weight: 600;
                font-size: 0.9em;
            }

            em{
                font-family: $primaryFont;
                color: $lightPrimary;
                font-size: 2.3em;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
            }
        }

        .rightSide{
            @media screen and (min-width: $tabletBp) {
                position: absolute;
                top: 50%;
                right: 2em;
                transform: translateY(-50%);
            }

            a, button{
                @media screen and (max-width: $tabletBp) {
                    width: 100%;
                }

                &:first-child{
                    margin-bottom: 0.8em;

                    @media screen and (min-width: $tabletBp) {
                        margin-right: 1.6em;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
