@import 'atoms/variables';
@import 'atoms/typography';

.container{
    fieldset {
        width: 100%;
        max-height: 100rem;
        transition: max-height 0.3s ease-in-out, opacity 0.3s 1s ease-in-out;

        :global{
            .Select-control{
                margin-bottom: 1em;
            }
        }
    }

    &.disabled{
        fieldset{
            overflow: hidden;
            max-height: 0;
        }
    }
}
