@import 'atoms/variables';

.container{
    position: relative;
    transition: transform 0.4s ease-in-out;

    &.toggleMobileMenu{
        @media screen and (max-width: $tabletBp) {
            transform: translateX(-75%);
        }
    }

    .veggieContainer{
        position: absolute;
        right: 1.5em;
        top: 3em;
        z-index: 20;
        display: none;

        @media screen and (max-width: $tabletBp) {
            display: block;
        }

        @media screen and (max-width: $phoneBp) {
            top: 1.8em;
        }
    }

    :global{
        .keepWidthLimit, section{
            width: 100%;
            padding: 0;
            background: rgba(0, 0, 0, 0.6);

            .container{
                overflow: hidden;
                position: relative;

                @media screen and (min-width: $tabletBp) {
                    height: 100vh;
                }
            }
        }
    }

    .banner{
        width: 100%;
        height: 2em;
        overflow: hidden;

        img{
            min-width: 100%;
        }
    }

    :global{
        .inner{
            position: relative;
            background-size: cover !important;
            background-position: center !important;

            &.pageNotFound{
                width: 100%;
                background: url('/images/page-not-found.jpg') no-repeat;

                @media screen and (min-width: $tabletBp) {
                    height: 100vh;
                }
            }

            .overlay{
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
            }

            .copy{
                @media screen and (max-width: $tabletBp) {
                    text-align: center;
                    padding: 3em 0;
                }

                h2, p{
                    color: $white;
                }

                h2{
                    font-size: 4em;
                }
            }

            .alignRight{
                @media screen and (min-width: $tabletBp) {
                    position: absolute;
                    top: 50%;
                    right: 0%;
                    transform: translateY(-50%);
                    max-width: 50%;
                }
            }
        }
    }
}
