@import 'atoms/variables';
@import 'atoms/typography';

.container{
    .titleHeading {
        position: relative;

        .formToggler{
            float: right;
            margin-top: -2.5rem;

            @media screen and (min-width: $phoneBp) {
                position: absolute;
                margin-top: 0;
                float: none;
                right: 3rem;
                top: 44%;
                transform: translateY(-50%);
            }

            @media screen and (min-width: $phoneBp) and (max-width: 992px) {
                top: 30%;
            }
        }
    }

    fieldset {
        width: 100%;
        max-height: 100rem;
        transition: max-height 0.3s ease-in-out, opacity 0.3s 1s ease-in-out;

        :global{
            .Select-control{
                margin-bottom: 1em;
            }
        }
    }

    &.disabled{
        fieldset{
            overflow: hidden;
            max-height: 0;
        }
    }
}
