@import 'atoms/variables';
@import 'atoms/typography';

.container {
    overflow: hidden;

    .inner {
        width: 100%;
    }

    p {
        &:after {
            background: transparent !important;
        }
    }

    .label {
        @include fancyUnderline($lightPrimary, 0.4em);
        font-family: $secondaryFont;
        text-transform: capitalize;
        margin-bottom: 3rem;
        margin-top: 0.3rem;
    }

    .input {
        width: 65%;
        display: block;
        float: left;
        outline: none;
    }

    button[type="button"].button {
        display: block !important;
        float: right;
        width: 35%;
        padding: 1.46rem;
    }

    :global {
        ._alertSuccess {
            background: $backgroundGrey;
            margin-bottom: 2rem;

            p{
                color: $grey;
                line-height: 1;
                font-weight: 100;

                &:before {
                    color: $black;
                }

                strong {
                    color: $black;
                    display: block;
                    margin-bottom : 0.4rem;
                }
            }
        }
    }
}
