@import 'atoms/variables';

.container {
    table {
        width: 100%;

        tr {
            td {
                padding: 0.25em;
                max-width: 17rem;
            }
        }
    }

    .intro {
        @media screen and (min-width: $tabletBp) {
            padding-right: 100px;
        }
    }

    .loading {
        margin: 6em 0;
    }
}

.alignRight {
    text-align: right;
}
