@import 'atoms/variables';
@import 'atoms/typography';

.infoList{
    @media screen and (max-width: $tabletBp) {
        margin-bottom: 2em;
    }

    ul li{
        display:inline-block;
        margin-right:15px;
        color:$white;
        font-family: $secondaryFont;
        @include fontSmoothen();

        @media screen and (max-width: $tabletBp) {
            display: block;
            width: 100%;
            padding-bottom: 1em;
        }

        a {
            color:$white;
        }
    }
}
