@import 'atoms/variables';
@import 'atoms/typography';

.title {
    h2 {
        margin-bottom: 0.8em;
    }

    p {
        line-height: 1.5;

        em {
            @include  fancyUnderline($primary, 0.5em);
            padding-bottom: 0.75em;
            font-weight: 600;
            color: $darkGrey;
            font-style: normal;
            margin-bottom: 1em;
        }

        strong {
            display: block;
            text-transform: none;
            font-size: 1.6em;
            line-height: 1.3;
            margin-bottom: 0;
        }

        span {
            color: $darkGrey;
            display: block;
        }
    }
}

.actions {
    li {
        display: inline-block;
        margin: 0.25em;
    }
}
