@import 'atoms/variables';
@import 'atoms/typography';

.container{
    .picker{
        overflow: hidden;
        text-align: center;
        position: relative;
        float: left;
        border: solid 1px $darkGrey;

        input{
            margin-bottom: 0;
            outline: none;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &[type=number] {
                -moz-appearance:textfield;
            }
        }

        .inputNumber{
            height: 2.500em;
            width: 100%;
            margin-bottom: 0;
            text-align: center;
            outline: none;
            border: none;
        }

        button{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 20%;
            min-width: 1.4em;
            display: block;
            line-height: 3.6em;
            border: none;
            outline: none;

            .inputNumberDecrement,
            .inputNumberIncrement{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                min-width: 2em;
                display: block;
                line-height: 3.6em;
                font-size: 0.7em;
                text-align: center;
                background: $darkGrey;
                color: $white;
                cursor: pointer;
                transition: background 0.2s ease-in-out;
            }

            &:hover, &:focus{
                .inputNumberDecrement,
                .inputNumberIncrement{
                    background: $grey;
                }
            }

            &:disabled {
                span {
                    background: $grey;
                }
            }
        }

        button:last-child, .inputNumberIncrement{
            left: auto;
            right: 0;
        }

        &:active{
            .inputNumberDecrement{
                border-right: none;
                border-radius: 0.250em 0 0 0.250em;

                .inputNumberIncrement{
                    border-left: none;
                    border-radius: 0 0.250em 0.250em 0;
                }
            }
        }
    }

    a{
        color: $red;
        display: block;
        width: 20%;
        padding-left: 0.6em;
        line-height: 2.75em;
        float: right;

        &:after {
            content: none;
        }
    }
}
