@import 'atoms/variables';
@import 'atoms/typography';
.container{
    position: relative;
    .title {
        &.optionsTitle {
            p {
                margin-bottom: 0.65rem;
            }
        }

        p{
            margin-left: 1rem;
        }
    }

    .titleHeading {
        position: relative;

        h3 {
            @media screen and (max-width: 618px) {
                margin-bottom: 0;
            }
        }

        .updateButton {
            width: 100%;
            display: block;

            @media screen and (min-width: 618px) {
                position: absolute;
                right: 2rem;
                transform: translateY(-50%);
                font-size: 1rem;
                top: 44%;
                width: auto;
                display: inherit;
                top: 29%;
            }

            @media screen and (min-width: $BSLaptopBP) {
                top: 44%;
            }
        }
    }


    p.poNote {
        padding-left: 1em;
    }

    .zeroState{
        text-align: center;

        @media screen and (min-width: $tabletBp) {
            margin-top: 1em;
        }

        p{
            color: $grey;
            display:block;
            &:after{
                display: none;
            }
        }

        :global {
            ._alertError {
                p {
                    color: $white;
                }
            }
        }
    }

    .error {
        @media screen and (min-width: $tabletBp) {
            position: absolute;
            top: 8rem;
            right: 2.5rem;
        }

        .shippingError {
            font-size: 1.25rem;
            color: $red;
        }
    }

    .options {
        overflow: hidden;
        display: block;
        width: 100%;
        padding: 0 1rem;
    }

    .option{
        position: relative;
        padding: 0.5em 0 0.5em 2em;

        input{
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            padding: 0;
            margin: 0;
        }

        label{
            padding-bottom: 0;
            font-family: $secondaryFont;
            text-transform: none;

            em{
                font-weight: 200;
                font-style: normal;
            }

            span:not(.radio){
                color: $grey;
                display: block;
                font-weight: 300;
                margin-top: 0.3em;
                font-size: 0.9em;
            }

            .radio{
                position: absolute;
                top: 0.5em;
                left: 0;
                display: block;
                width: 1.5em;
                height: 1.5em;
                border: solid 1px $darkGrey;
                background: $white;
                border-radius: 1.5em;

                i{
                    margin-top: 0.188em;
                    margin-left: 0.188em;
                    display: block;
                    border-radius: 1em;
                    width: 1em;
                    height: 1em;
                    transform: scale(0);
                    background: $primary;
                    transition: transform 0.1s ease-in-out, background 1s ease-in-out;
                }
            }

            &:hover{
                .radio{
                    i{
                        background: $grey;
                        transform: scale(0.5);
                    }
                }
            }
        }

        input:focus + label{
            .radio{
                i{
                    background: $grey;
                    transform: scale(0.5);
                }
            }
        }

        label {
            .radio.checked{
                i{
                    background: $darkGrey !important;
                    transform: scale(1) !important;
                }
            }
        }
    }

    .insurance {
        float: none;
        padding: 1rem 0;
        margin-left: 1rem;
        width: 100%;

        p{
            display:block;
            font-size: 1.4rem;
            padding-bottom: 0;
            margin-bottom: 0;
            font-weight: 300;

            &:after{
                display: none;
            }

            span {
                padding-right: 0.4rem;
            }
        }
    }
}
