@import 'atoms/variables';
@import 'atoms/structure';

:global{
    .item{
        padding-bottom: 30px;
    }

    .item:last-child{
        padding-bottom: 0px;
    }

    .sticky-outer-wrapper {
        &.active {
            .sticky-inner-wrapper{
                @media screen and (min-width: 992px) {
                    margin-top: 9rem;
                }
            }
        }
    }

    .sticky-inner-wrapper{
        overflow: hidden;
        transition: margin-top 0.3s ease-in-out;

        @media screen and (max-width: 992px) {
            position: relative !important;
            transform: translate3d(0, 0, 0) !important;
        }

        @media screen and (max-height: 720px) {
            position: relative !important;
            transform: translate3d(0, 0, 0) !important;
        }
    }
}
