@import 'atoms/variables';

.container {
    text-align: center;
    display: inline-block;
    
    .loader{
        position: relative;
        display: inline-block;
        overflow: hidden;
        height: 1.5em;
        width: 2em;
        margin: auto;

        i{
            position: absolute;
            display: block;
            float: left;
            width: 20%;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: 40%;
            animation: animateHeight 0.6s infinite;
            transition: height 0.2s ease-in-out;

            &:first-child{
                left: 0;
                animation-delay: -0.1s;
            }

            &:last-child{
                left: inherit;
                right: 0;
                animation-delay: 0.2s;
            }
        }

        &.white i{
            background:$white;
        }

        &.defaultColor i{
            background: $lightPrimary;
        }

        &.medium{
             height: 1.5em;
             width: 2em;
        }

        &.small{
            height:1em;
            width:1.5em;
        }

        &.large{
            height:2em;
            width:2.5em;
        }
    }
}

:global{
    @keyframes animateHeight {
        0% {
            height: 100%;
        }
        50% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }
}
