@import 'atoms/variables';
@import 'atoms/clickables';

.navigation{
    position: relative;
    border-bottom: solid 0.2em $darkGrey;
    text-align: right;

    &.searchable{
        @media screen and (min-width: $tabletBp) {
            border-color: $grey;
            overflow: visible;
        }
        transition: border-color 0.75s ease-in-out;
    }

    @media screen and (min-width: $tabletBp) {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        height: 6.75em;
        width: 100%;
        background: $darkGrey;
        padding: 1em 0;
        overflow: hidden;
    }

    :global{
        .container{
            position: relative;
        }
    }

    .logo{
        float: left;
        width: 10em;

        @media screen and (max-width: $phoneBp) {
            width: 7em;
        }

        img{
            width: auto;
            height: 4.6875em;

            @media screen and (max-width: $phoneBp) {
                width:100%;
                height: auto;
            }
        }
    }

    .inner{
        display:inline-block;
        margin-top: 2.5em;
        transition: margin-top 0.4s ease-out;

        @media screen and (max-width: $tabletBp) {
            margin-top: 0;
            display: block;
            position: fixed;
            top: 0;
            right: -75%;
            height: 100%;
            width: 75%;
            z-index: 10;
            background: $black;
            overflow: hidden;
            box-shadow: 0px 0px 5px $black;
        }

        @media screen and (max-height: 540px) {
            overflow: scroll;
        }

        &.noSearch {
            @media screen and (min-width: $tabletBp) {
                margin-right: -1em;
            }
        }

        nav{
            transition: visibility 0.3s ease-in-out;

            ul{
                @media screen and (min-width: $tabletBp) {
                    float: right;
                }

                li{
                    display:inline-block;
                    margin-right:1.5em;

                    @media screen and (max-width: $tabletBp) {
                        display: block;
                        margin-right: 0;
                    }

                    a{
                        font-family: $secondaryFont;
                        @include underline($primary, $white);
                        @include fontSmoothen();

                        @media screen and (max-width: $tabletBp) {
                            display: block;
                            color: $grey;
                            width: 100%;
                            padding: 1em;
                            text-align: left;
                            transition: background 0.4s ease-in-out, color 0.4s ease-in-out;

                            &:hover{
                                background: $white;

                                a{
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }

        .search{
            padding-right: 1em;
            margin-top: 2.35em;
            width: 30em;
            display: block;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        &.searchable{
            @media screen and (min-width: 992px) {
                margin-top: -32px;
                nav{
                    visibility: hidden;
                }
                .search{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .absoluteItems {
        float: right;
        position: relative;
        margin-top: 2.5em;
        transition: margin-top 0.3s ease-in-out;

        @media screen and (max-width: $tabletBp) {
            margin-top: 1.75em;
            margin-right: 3.5em;
        }

        @media screen and (max-width: $phoneBp) {
            margin-top: 0.75em;
        }

        .toggleSearch {
            display: none;
            transition: top 0.3s ease-in-out;

            @media screen and (min-width: $tabletBp) {
                background: none;
                border: none;
                color: $white;
                display: inline-block;
                float: right;
                outline: none;
                padding: 0;
                margin-left: 1em;

                &:focus,
                &:hover {
                    color: $grey;
                }
            }
        }
    }

    hr{
        margin-top:3em;
        width:100%;
        border:none;
        border-bottom:0.5px solid $white;

        @media screen and (max-width: $tabletBp) {
            margin-top: 2.4em;
        }
    }

    &.searchable{
        .absoluteItems {
            @media screen and (min-width: $tabletBp) {
                margin-top: 1.5em;
            }
        }
    }
}

:global{
    .simple{
        @media screen and (min-width: $tabletBp) {
            border-color: $grey;
        }
    }
}

:global(.light) .navigation{
    hr{
        border-bottom:0.5px solid $grey;
    }
}
