@import 'atoms/variables';

.container{
    p{
        margin-bottom: 0.4em;
    }

    h2{
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.825em;
    }

    h3{
        color: $darkGrey;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 0.8em;
    }

    dl{
        margin-bottom: 1.8em;
        display: block;
        color: $grey;
        margin-bottom: 0.6em;
        overflow: hidden;

        .item{
            overflow: hidden;
            width: 100%;
        }

        dt{
            font-weight: 600;
            float: left;
            width: 50%;
            margin-bottom: 0.4em;
            padding-right: 1em;

            @media screen and (max-width: $tabletBp) {
                float: none;
                width: 100%;
            }
        }

        dd{
            display: block;
            font-weight: 200;
            width: 50%;
            float: left;
            margin-bottom: 0.4em;

            @media screen and (max-width: $phoneBp) {
                float: none;
                width: 100%;
                margin-bottom: 0.8em;
            }

            em{
                font-style: normal;
                font-weight: 600;

                &.green{
                    color: $green;
                }

                &.red{
                    color: $red;
                }
            }
        }
    }

    .fitments {
        margin-bottom: 2.8em;

        ul {
            height: 20em;
            width: 100%;
            border: solid 1px $backgroundGrey;
            overflow-y: scroll;

            li {
                border-left: solid 0.4em $lightPrimary;
                padding: 1em;
                background: $white;
                margin-bottom: 1.2em;

                p {
                    margin-bottom: 0;
                    color: $grey;

                    em {
                        display: block;
                        font-style: normal;
                        color: $black;
                        font-weight: 600;
                    }

                    span {
                        display: block;
                        width: 100%;
                        color: $black;
                        font-size: 0.9em;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
