//=====================================================
//  1. Unit Element
//=====================================================

.#{$grid-unit-class} {
	@include unit();

	&.full {
		@if $grid-gutter-position == 'split' {
			padding:0 !important;
		}
		@else {
			margin:0 !important;
			@include media-queries-for-all-unit-sizes($include-gutters:false);
		}
	}
}


//=====================================================
//  2. Row of Units
//=====================================================

.#{$grid-row-class} {
	@include row();
	
	~ .#{$grid-row-class} {
		margin-top: $grid-gutter-height;
	}

	@if (($grid-gutter-position == 'before') and (strip-unit($grid-gutter-width) > 0)) or (($grid-gutter-position == 'after') and (strip-unit($grid-gutter-width) > 0)) {
		margin-right: -$grid-gutter-width;
		&.no-gutters {
			margin-right:0;
			.#{$grid-unit-class} {
				@extend .full;
			}
		}
	}
	
}


//=====================================================
//  3. Wrapper Element
//=====================================================

.#{$grid-wrapper-class} {
	@include wrapper();
}