@import 'atoms/variables';

.container{
    padding-top: 4.375em;
    
    h1{
        font-size: 3em;
        font-weight: 500;
        margin-bottom: 0.2em;
        text-transform: none;
    }

    img{
        width: 150px;
    }

    :global{
        .col-md-3{
            @media screen and (min-width: $laptopBp) {
                padding-left: 0.4em;
                padding-right: 0.4em;
            }

            &:nth-child(even){
                @media screen and (max-width: $laptopBp) and (min-width: $phoneBp) {
                    padding-left: 0.4em;
                }
            }

            &:nth-child(odd){
                @media screen and (max-width: $laptopBp) and (min-width: $phoneBp) {
                    padding-right: 0.4em;
                }
            }
        }
    }
}
