@import 'atoms/variables';

.container{
    border: solid 1px $backgroundGrey;
    margin-bottom: 1.9em;

    :global{
        .slick-dots{
            li{
                button{
                    width: 1em;
                    height: 1em;

                    &:before{
                        color: $lightPrimary;
                    }
                }

                &.slick-active{
                    button{
                        &:before{
                            color: $primary;
                        }
                    }
                }
            }
        }

        .slick-next, .slick-prev{
            z-index: 2;
            transition: color 0.3s ease-in-out;

            &:before{
                color: $lightPrimary;
                font-size: 3rem;
            }

            &:hover{
                &:before{
                    color: $primary;
                }
            }
        }

        .slick-next{
            right: 0.6em;

            &:before{
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: $lightPrimary;
                content: "\f105";
            }
        }

        .slick-prev{
            left: 0.6em;

            &:before{
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: $lightPrimary;
                content: "\f104";
            }
        }
    }
}
