@import 'atoms/variables';

.container {
    background: $grey;
    padding: 1em;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
    z-index: 9;

    @media screen and (max-width: $tabletBp) {
        top: -10em;
    }

    &.visible {
        top: 6.75em;

        @media screen and (max-width: $tabletBp) {
            top: 0;
        }
    }

    input {
        margin: 0;
    }

    p {
        color: $white;
        display: inline-block;
        margin: 0 1em 0 0;
    }

    .partSearch {
        display: inline-block;
    }
}
