@import 'atoms/variables';
@import 'atoms/typography';

.navigation{
    ul{
        display:block;
        margin-bottom: 0;

        li{
            display:inline-block;
            margin-right:1.5em;

            @media screen and (min-width: $tabletBp) {
                padding-bottom: 1em;
            }

            &:last-child{
                padding-bottom: 0;
            }

            @media screen and (max-width: $tabletBp) {
                display: block;
                margin-bottom: 1em;
                width: 100%;
            }

            a{
                font-family: $secondaryFont;
                font-weight: 600;
                color:$white;
                @include fontSmoothen();
            }

            &:after{
                @media screen and (min-width: $tabletBp) {
                    content:'|';
                    color:$white;
                    margin-left:20px;
                }
            }
            &:last-of-type:after{
                content:'';
                margin-left:0;
            }
        }
    }
}
