@import 'atoms/variables';

.queryTitle{
    margin-bottom: 3em;

    h2{
        color: $darkGrey;
        margin-top: 0;
        display: inline-block;
        position: relative;
        padding-bottom: 0.313em;
        margin-bottom: 0.1em;

        &:after {
            bottom: 0;
            content: "";
            display: block;
            height: 0.2em;
            left: 0;
            position: absolute;
            background: $lightPrimary;
            width: 100%;
        }
    }

    p{
        color: $grey;
        margin-bottom: 0;

        &:first-child{
            padding-bottom: 1.15em;
            font-style: italic;
            font-size: 1.2em;
        }
    }
}
