@import 'atoms/variables';
@import 'atoms/typography';

.container{
    @include fontSmoothen();

    .title{
        p{
            font-weight: 600;
            @include fancyUnderline($lightPrimary, 0.4em);
        }
    }

    ul{
        li{
            margin-bottom: 0.75em;
            color: $grey;

            strong{
                display: block;
                margin-bottom: 0.25em;
                color: $black;

                em{
                    font-weight: 300;
                    font-style: normal;
                }
            }
        }
    }

    p{
        color: $black;
        font-weight: 600;

        span{
            display: block;
            color: $grey;
            font-weight: 300;
        }

        em{
            font-weight: 300;
            font-style: normal;
        }

        a {
            text-decoration: none;
        }
    }
}
