@import 'atoms/variables';
@import 'atoms/typography';

.container{
    position: relative;
    transition: transform 0.4s ease-in-out;

    &.toggleMobileMenu{
        @media screen and (max-width: $tabletBp) {
            transform: translateX(75%);
        }
    }

    .veggieContainer{
        position: absolute;
        left: 2.188em;
        top: 1.1em;
        z-index: 20;
        display: none;

        @media screen and (max-width: $tabletBp) {
            display: block;
        }

        @media screen and (max-width: $phoneBp) {
            top: 1.8em;
        }
    }

    :global{
        .heading{
            p{
                margin-bottom: 0;
                text-transform: uppercase;
            }

            h1{
                margin: 0.5em 0;
                font-weight: 600;
            }
        }
    }
}
