@import 'atoms/variables';
@import 'atoms/typography';

.container{
    .inlineLabel{
        @media screen and (min-width: $BSTabletBP) {
            text-align: center;
        }

        label:not(._hideLabel){
            color: $black;
            font-family: $secondaryFont;
            line-height: 4.5rem;
            font-weight: 200;
            padding-bottom: 0;
            text-transform: none;
            margin-bottom: 0;
        }
    }

    .title {
        p {
            float: left;
            @include fancyUnderline($height: 0.6rem);
            font-weight: 600;
            margin-right: 3rem;
            margin-bottom: 1.45rem;

            @media screen and (min-width: $tabletBp) {
                margin-bottom: 1.8rem;
            }
        }

        ul {
            float: left;

            @media screen and (min-width: $tabletBp) {
                position: relative;
                top: 0.35rem;
                margin-bottom: 0;
            }

            li {
                float: left;
                margin-right: 0.75rem;

                img {
                    width: 4.75rem;
                }
            }
        }
    }

    button{
        font-weight: 500;
        text-transform: none;

        i{
            position: relative;
            top: 0.2em;
            font-size: 2.5em;
            margin-bottom: 0;
            margin-top: -0.288em;
            color: $lightPrimary;
        }
    }

    .labelButton {
        width: 100%;
        background: none;
        border: solid 2px $grey;
        border-radius: 0.85rem;
        text-align: center;
        color: $black;
        font-weight: 600;
        font-family: $secondaryFont;
        font-size: 1.25rem;
        padding-bottom: 0;
        line-height: 3.15;
        margin-bottom: 3rem;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;

        img {
            width: 8rem;
        }
    }

    input:checked + label {
        background: transparentize($paypalBlue, 0.9);
        border: solid 2px $paypalBlue;
        color: $paypalBlue;
    }

    .hidden{
        display:none;
    }

    .paymentFields {
        width: 100%;
        max-height: 52rem;
        transition: max-height 0.4s ease-in-out;

        &.disable{
            overflow: hidden;
            max-height: 0;
        }
    }
}
