@import 'atoms/variables';
@import 'atoms/clickables';

.container {
    h2 {
        a {
            float: right;
            @include underline($grey, $grey);
            font-weight: 300;
            font-size: 1.35rem;
            font-family: $secondaryFont;
            text-transform: none;
        }
    }

    ul {
        max-height: 20rem;
        overflow: auto;
        border: solid 1px $grey;
        padding: 2rem;

        li {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    dl {
        overflow: hidden;
        font-size: 1.5rem;

        dt {
            float: left;
            width: 50%;
            text-align: left;
            margin-bottom: 0.6rem;
        }

        dd {
            float: right;
            width: 50%;
            text-align: right;
            margin-bottom: 0.6rem;

            span {
                color: $green;
            }
        }
    }

    .total {
        border-top: solid 1px $grey;
        text-align: left;
        padding-top: 2rem;
        font-weight: 600;

        span {
            line-height: 1;
            font-family: $primaryFont;
            color: $paypalBlue;
            font-size: 3rem;
            float: right;
            font-weight: 300;
            text-align: right;
        }

        button {
            float: right;
            min-width: 50%;
        }
    }
}
