@import 'atoms/variables';

.container {
    width: 30px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 0.250em;
        width: 100%;
        background: $white;
        border-radius: 0.250em;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
            top: 0.500em;
        }

        &:nth-child(4) {
            top: 16px;
        }
    }

    &.open span {
        &:nth-child(1) {
            top: 1.125em;
            width: 0;
            left: 50%;
        }

        &:nth-child(2) {
        transform: rotate(45deg);
        }

        &:nth-child(3) {
        transform: rotate(-45deg);
        }

        &:nth-child(4) {
        top: 1.125em;
        width: 0;
        left: 50%;
        }
    }
}
