@import 'atoms/variables';

.header{
    padding-top: 6.75em;
    background: $darkGrey;
    @media screen and (max-width: $tabletBp) {
        padding: 1em;
    }

    :global{
        .container{
            padding-left: 0;
            padding-right: 0;
        }
    }

    a{
        color:$white;
    }
}

:global{
    .searchTemplate{
        :local{
            .header{
                background:$darkGrey;

                @media screen and (min-width: $tabletBp) {
                    padding: 8em 0 4em 0;
                }

                h1 {
                    color: $white;
                }
            }
        }
    }
    .light{
        background:none;
        a{
            color:$grey;
        }
    }

    .simple{
        border-bottom: solid 0.4em $grey;

        @media screen and (min-width: $tabletBp) {
            padding: 1.5em 0;
        }
    }
}
