@import 'atoms/variables';

.container{
    position: relative;
    border: solid 1px $primary;
    padding: 0;
    overflow: hidden;

    .sideBar{
        display: none;
        @media screen and (min-width: 992px) {
            display: block;
            position: absolute;
            height: 100%;
            width: 41.7%;
            top: 0;
            left: 0;
            background: $darkGrey;
        }
    }

    .filters{
        position: relative;
        z-index: 2;
        padding: 1em 1.35em;
        background: $darkGrey;
        color: $white;
    }

    .itemList{
        text-align: center;

        @media screen and (max-width: $tabletBp) {
            padding: 2em 0;
        }

        &.noResults{
            position: static;
        }

        .inner{
            display: inline-block;
        }
    }

    .itemMessage{
        text-align: center;
        overflow: hidden;

        @media screen and (min-width: 787px) {
            position: absolute;
            width: 59.3%;
            top: 3rem;
            right: 0;
        }

        h2{
            padding-bottom: 0;
        }
    }

}
