@import 'atoms/variables';
@import 'atoms/typography';
@import 'atoms/clickables';

.myCart{
    @include underline($primary, $white);
    @include fontSmoothen();
    display:inline-block;
    font-family: $secondaryFont;
    transition: top 0.3s ease-in-out;

    em{
        display: block;
        float: right;
        margin-left: 1em;
        padding: 0.1em 0.6em;
        background: $grey;
        font-size: 0.9em;
        color: $white;
        border-radius: 0.2em;
        transition: transform 0.2s ease-in-out, background 0.2s ease-in-out, opacity 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    &.explode{
        em{
            color: $primary;
            opacity: 0.5;
            background: $primary;
            transform: scale(1.2) rotate(10deg);
        }
    }
}
