@import 'atoms/variables';
@import 'atoms/typography';
@import 'atoms/clickables';

.title{

    h2{
        margin-bottom: 0.8em;
    }

    hr{
        margin: 0.6em 0;
        border: solid 1px $primary;
        width: 2em;
    }

    a{
        color: $grey;
        @include underline($primary, $primary);
        transition: color 0.3s ease-in-out;

        &:hover{
            color: $primary;
        }
    }

    p{
        line-height: 1.5;
        padding: 0 0.375em;

        em{
            @include  fancyUnderline($primary, 0.5em);
            padding-bottom: 0.75em;
            font-weight: 600;
            color: $darkGrey;
            font-style: normal;
            margin-bottom: 1em;
        }

        span{
            position: relative;
            color: $darkGrey;
            display: block;
            padding-left: 5em;

            &.caption{
                padding-left: 0;
            }

            strong{
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

}

.footer{
    padding: 0 0.375em;
}
