@import 'atoms/variables';

.container{
    img{
        width: 100%;
        margin-bottom: 1em;
    }

    :global{
        .picker{
            width: 45%;
            margin-bottom: 1em;

            @media screen and (max-width: $BSdesktopBP) and (min-width: $BSTabletBP) {
                width: 100%;
            }

            @media screen and (max-width: $phoneBp) {
                width: 100%;
            }
        }

        .addToCart{
            float: right;
            width: 50%;

            @media screen and (max-width: $BSdesktopBP) and (min-width: $BSTabletBP) {
                width: 100%;
            }

            @media screen and (max-width: $phoneBp) {
                width: 100%;
            }
        }
    }
}
