@import 'atoms/variables';
@import 'atoms/clickables';

.container{
    visibility: hidden;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;

    .overlay{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($darkGrey, 0.1);
    }

    .modal{
        position: absolute;
        width: 100%;
        max-width: 36.250em;
        top: 50%;
        left: 50%;
        z-index: 3;
        max-height: 100vh;
        transform: translate(-50%, -55%);
        opacity: 0;
        background: $backgroundGrey;
        padding: 3em;
        transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;

        @media screen and (min-width: $phoneBp) {
            min-width: 28.750em;
        }

        @media screen and (max-width: $phoneBp) {
            height: 100vh;
            padding: 1em;
        }

        .close{
            @include closeButton();
            position: absolute;
            top: 0.3em;
            right: 0.4em;
        }

        :global {
            .Select-menu-outer {
                position: relative;
            }
        }
    }

    &.open{
        visibility: visible;

        .modal{
            transform: translate(-50%, -50%);
            opacity: 1;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            @media screen and (max-width: $phoneBp) {
                top: 0;
                left: 0;
                transform: translate(0, 0);
                padding-bottom: 4em;
            }
        }
    }
}
