@import 'atoms/variables';
@import 'atoms/typography';
@import 'atoms/clickables';

.container{
    margin-bottom: 0;

    li{
        position: relative;
        cursor: pointer;

        a{
            font-family: $secondaryFont;
            padding-left: 1em;

            &:after {
                content: none;
            }

            p{
                color: $white;
                margin-bottom: 0;
                transition: font-weight 100ms ease, transform, 0.4s, ease-in-out;

                &.open{
                    font-weight: 600;
                }

                &:hover{
                    &:not(.open){
                        transform: translateX(2px);
                    }

                    + .icon.collapsed{
                        &:after{
                            @media screen and (min-width: $phoneBp) {
                                top: -0.127em;
                                transform: rotate(45deg);
                            }
                        }

                        &:before{
                            @media screen and (min-width: $phoneBp) {
                                top: 0.127em;
                                transform: rotate(325deg);
                            }
                        }
                    }
                }
            }
        }

        .icon{
            @include plusMinusIcon($white);
            position: absolute;
            left: 0;
            top: 0.8em;
        }

        .subItemContainer{
            height: auto;
            max-height: 0;
            overflow: hidden;
            padding-left: 0.625em;
            margin-bottom: 0;
            font-weight: 200;
            transition: max-height 0.75s ease-in-out;

            &.active{
                max-height: 300em;
            }

            li{
                display: block;
                padding-left: 0;
                opacity: 0;
                transform: translateX(-10px);
                transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;

                &:first-child{
                    margin-top: 0.2em;
                }

                &:last-child{
                    margin-bottom: 0.35em;
                }

                a{
                    font-family: $secondaryFont;
                    font-size: 0.8em;
                    padding-left: 0;
                    margin-left: 1.5em;
                    transform: translateX(0) !important;

                    &:after {
                        content: "";
                    }

                    &:hover{
                        color: $white;
                    }
                }
            }

            &.active{
                li{
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }
}
