@import 'atoms/variables';
@import 'atoms/clickables';

.container {
    section {
        margin-bottom: 2.75em;
        padding: 0.25em 0 0;
    }
}

.category {
    column-count: 1;

    @media screen and (min-width: 500px) {
        column-count: 2;
    }

    @media screen and (min-width: 740px) {
        column-count: 3;
    }

    @media screen and (min-width: 980px) {
        column-count: 4;
    }

    &.wideColumns {
        @media screen and (min-width: 980px) {
            column-count: 3;
        }
    }

    li {
        a {
            @include underline($primary, $primary, 0.1em);
        }
    }
}

.jumpNav {
    background-color: lighten($backgroundGrey, 3%);
    border-radius: 3px;
    margin: 0 auto 1em;
    padding: 1em;
    width: 90%;

    a {
        display: none;
        padding: 0 0.5em;
    }

    select {
        display: inline-block;
        margin: 0 0.5em;
    }

    span {
        display: none;
    }

    @media screen and (max-width: 500px) {
        span {
            display: inline;;
        }
    }

    @media screen and (min-width: 500px) {
        a {
            display: inline-block;;
        }

        select {
            display: none;
        }
    }
}

.loading {
    margin: 6em 0;
}
