// Default transition group
.defaultTransitionGroup-enter {
    position: absolute;
    top: 0;
    opacity: 0.01;

    &.defaultTransitionGroup-enter-active {
        opacity: 1;
        transition: all 500ms ease-in;
    }
}

.defaultTransitionGroup-leave {
    opacity: 1;

    &.defaultTransitionGroup-leave-active {
        opacity: 0.01;
        transition: all 100ms ease-in;
    }
}
