@import '_typography';
@import '_variables';
// Button Mixins

@mixin button () {
    @include smallTitle();
    border: none;
    padding: 1.125em 1.875em;
    display: inline-block;
    font-size: 0.75em;
    background: $primary;
    color: $white;
    font-weight: 300;
    font-family: $secondaryFont;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:after {
        content: none;
    }

    &:hover, &:active, &:focus {
        text-decoration: none;
        background: darken($primary, 10%);
        color: $white;
        outline: none;
    }

    &._block{
        display: block;
        width: 100%;
    }

    &[disabled] {
        background: $grey !important;
    }
}

// Classes
._button{
    @include button();

    &._mediumPadding{
        padding: 1.125em 4em;
    }

    &._largePadding{
        padding: 1.125em 7em;
    }

    &._blue._light{
        background: $lightPrimary;

        &:hover, &:active, &:focus {
            background: darken($lightPrimary, 10%);
        }
    }

    &._grey{
        background: $grey;

        &:hover{
            background: darken($grey, 10%);
        }

        &:active, &:focus{
            background: darken($grey, 30%);
        }

        &._dark{
            background: $darkGrey;

            &:hover{
                background: $primary;
            }

            &:active, &:focus{
                background: $green;
            }
        }
    }

    &._green{
        background: $green;

        &:hover{
            background: darken($green, 10%);
        }

        &:active, &:focus{
            background: darken($green, 30%);
        }
    }

    &._yellow{
        background: $yellow;

        &:hover{
            background: darken($yellow, 10%);
        }

        &:active, &:focus{
            background: darken($yellow, 30%);
        }
    }

    &._orange{
        background: $orange;

        &:hover{
            background: darken($orange, 10%);
        }

        &:active, &:focus{
            background: darken($orange, 30%);
        }
    }

    &._centered{
        margin: auto;
        display: inherit;
    }

    &._splitButton{
        position: relative;
        display: table;
        padding: 0;
        overflow: hidden;
        background: $white;
        border: solid 1px $backgroundGrey;

        &:after{
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background: $paypalBlue;
            transition: width 0.4s ease-in-out;
        }

        span{
            position: relative;
            z-index: 2;
            text-align: center;
            display: block;
            padding: 1.2em 1.7em;
            transition: color 0.6s ease-in-out;

            &:first-child{
                display: table-cell;
                vertical-align: middle;
                color: $white;
                text-align: center;
            }

            &:last-child{
                position: relative;
                color: $paypalBlue;
                float: right;
                padding-left: 5em;

                &:before{
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: $white;
                    transition: width 0.4s ease-in-out;
                }

                &:after{
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width:0;
                    height: 100%;
                    background: $paypalBlue;
                    transition: width 0.4s ease-in-out;
                }

                em{
                    position: relative;
                    z-index: 2;
                    font-style: normal;

                    i{
                        position: absolute;
                        top: 50%;
                        left: -1.4em;
                        transform: translateY(-50%);
                        font-size: 2.5em;
                    }
                }
            }
        }
    }

}

@mixin closeButton () {
    .outer {
        position: relative;
        margin: auto;
        width: 30px;
        cursor: pointer;
    }

    .inner {
        width: inherit;
        text-align: center;
        border: none;
    }

    label {
        font-size: .8em;
        line-height: 3em;
        padding-bottom: 0;
        text-transform: uppercase;
        color: $primary;
        transition: all .3s ease-in;
        opacity: 0;
        cursor: pointer;
        padding-top: 0;
    }

    .inner:before, .inner:after {
        position: absolute;
        content: '';
        height: 1px;
        width: inherit;
        background: $grey;
        left: 0;
        transition: all .3s ease-in;
    }

    .inner:before {
        top: 50%;
        transform: rotate(45deg);
    }

    .inner:after {
        bottom: 50%;
        transform: rotate(-45deg);
    }

    .outer:hover label {
        opacity: 1;
    }

    .outer:hover .inner:before,
    .outer:hover .inner:after {
        transform: rotate(0);
    }

    .outer:hover .inner:before {
        top: 0;
    }

    .outer:hover .inner:after {
        bottom: 0;
    }
}

@mixin underline ($color: $white, $fontColor: $white, $gap: 0.313em) {
    color: $fontColor;
    display: inline-block;
    position: relative;
    padding-bottom: $gap;
    margin-bottom: -$gap;

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 0.125em;
        left: 50%;
        position: absolute;
        background: $color;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:hover, &:active, &:focus{
        text-decoration: none;

        &:after {
            width: 100%;
            left: 0;
        }
    }
}

._underline{
    @include underline();

    &:hover, &:active, &:focus{
        text-decoration: none;

        &:after {
            width: 100%;
            left: 0;
        }
    }
}

@mixin closeButton () {
    &:after {
        content: none !important;
    }

    .outer {
        position: relative;
        margin: auto;
        width: 1.5em;
        cursor: pointer;
    }

    .inner {
        width: inherit;
        text-align: center;
        border: none;
    }

    label {
        font-size: 0.6em;
        line-height: 3em;
        padding-bottom: 0;
        text-transform: uppercase;
        color: $grey;
        transition: all .3s ease-in;
        opacity: 0;
        cursor: pointer;
        padding-top: 0;
    }

    .inner:before, .inner:after {
        position: absolute;
        content: '';
        height: 1px;
        width: inherit;
        background: $darkGrey;
        left: 0;
        transition: all .3s ease-in;
    }

    .inner:before {
        top: 50%;
        transform: rotate(45deg);
    }

    .inner:after {
        bottom: 50%;
        transform: rotate(-45deg);
    }

    .outer:hover label {
        opacity: 1;
    }

    .outer:hover .inner:before,
    .outer:hover .inner:after {
        transform: rotate(0);
    }

    .outer:hover .inner:before {
        top: 0;
    }

    .outer:hover .inner:after {
        bottom: 0.4em;
    }
}

a,
button {
    color: $lightPrimary;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.25s ease-in-out, border 0.2s ease-in-out;

    &:active,
    &:focus,
    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &._red{
        color: $red;

        &:hover{
            color: $darkRed;
        }
    }
}

a {
    @include underline($primary, $primary);
}

p a {
    @include underline($primary, $primary, 0.1em);
}

button._fancyUnderline {
    border: none;
    background-color: inherit;
    outline: none;
    @include underline($primary, $primary);
}
