input, textarea{
    width: 100%;
    border: solid 1px $grey;
    margin-bottom: 0.8em;

    &:focus{
    }

    &.error{
        border-color: $red;
        padding-right: 2em;

        &::-webkit-input-placeholder {
           color: $red;
        }

        &:-moz-placeholder {
           color: $red;
        }

        &::-moz-placeholder {
           color: $red;
        }

        &:-ms-input-placeholder {
           color: $red;
        }
    }
}

textarea{
    width: 100%;
}

label{

    &._hideLabel{
        display: none;
    }
}

.basicInputContainer{
    position: relative;
}
._modal ._inputError{
    @media (max-width:$tabletBp){
        background:$white;
    }
}

._errorContainer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;

    .inputError{
        @include clearfix();

        position: absolute;
        top: 0;
        transform: translateY(-128%);
        right: 0;
        height: 2.9em;
        padding: 0 0.6em;
        text-align: center;
        background: $red;
        color: $white;
        line-height: 2.9em;
        z-index: 2;
    }

    span.message {
        position: absolute;
        bottom: -0.1rem;
        right: 0;
        font-size: 1.11rem;
        text-align: right;
        color: $red;
    }

    &.select {
        .inputError {
            transform: translateY(-100%);
        }

        span.message {
            bottom: -1.35rem;
        }
    }
}

.fieldsetErrors{
    background: $backgroundGrey;
    overflow: hidden;

    li{
        padding: 0.3em 1.5em;
        color: $red;

        &:first-child{
            padding-top: 2em;
        }

        &:last-child{
            padding-bottom: 2em;
        }
    }
}

._alertError{
    padding: 1em;
    background: $orange;
    margin-bottom: 2em;

    &._noBottomSpacing {
        margin-bottom: 0;
    }

    p{
        position: relative;
        padding-left: 1.4em;
        color: $white;
        font-size: 0.9em;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: left;

        &:before{
            content: "\f05e";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            left: 0;
            top: 0;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

._alertSuccess {
    @extend ._alertError;
    background:$green;
    margin-bottom:0;

    p:before{
        content:'\f00c';
    }
}
