@mixin underline ($color: rgba(255,255,255,0.1)) {
    &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 4px;
        background: $color;
        content: '';
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateY(10px);
    }

    &:hover:after {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin pillHover () {
    &:hover, &:active {
        @include pill();
    }
}
