input{
    cursor: text;
    padding: 0.7em 1em;
    font-family: $secondaryFont;
    color: $darkGrey;

    &::placeholder {
        color: $grey;
    }

    &::-ms-clear {
        display: none;
    }

    &[type="submit"]{
        cursor: pointer;
    }
}

label {
    cursor: pointer;
}

select{
    cursor: pointer;
}

textarea{
    min-height: 10em;
    padding: 10px 15px;
    font-family: $secondaryFont;
}

.fancyCheckbox{
    position: relative;

    input{
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        margin: 0 !important;
    }

    label{
        padding-left: 2em;
        padding-bottom: 0;
        margin-bottom: 0;
        font-weight: 300;
        font-family: $secondaryFont;
        text-transform: none;
        font-size: 0.9em;

        span{
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -0.7em;
            display: block;
            border: solid 1px $grey;
            width: 1.5em;
            height: 1.5em;
            transform: rotate(0deg);
            transition: all 0.3s ease-in-out;
        }
    }

    input:hover + label, input:focus + label{
        span{
        border-color: $green;
        }
    }

    input:checked + label{
        span{
            border-width: 2px;
            transform: rotate(-45deg);
            height: 0.7em;
            border-color: $green;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }
}
