body{
    *, *:after, *:before{
        box-sizing:border-box;
    }

    section, .section{
        padding: 3em 0;

        &._hideOverflow{
            overflow: hidden;
        }
    }

    .bottomSectionPadding{
        padding-bottom: 3em;
    }

    .row{
        margin-left: 0;
        margin-right: 0;

        &._noSpacing ~ .row{
            margin-top: 0;
        }
    }

    [class^="col-"], [class*=" col-"]{
        padding-left: 0.375em;
        padding-right: 0.375em;
        @media screen and (max-width: 991px) {
            padding-bottom: 0.313em;
        }

        @media screen and (max-width: $phoneBp) {
            width: 100%;
        }
    }

    ._removePadding{
        padding: 0;
    }

    ._contentSection{
        @media screen and (min-width: $BSTabletBP) {
            padding-left: 3em;
        }
    }

    ._centerChildren{
        text-align: center;
    }

    ul, ol{
        margin-bottom: 1em;
    }

    ._pullRight {
        float: right;
    }

    ._pushDown {
        margin-top: 2rem;
    }
}
