@import '_variables.scss';

// Mixins

@mixin basicTitle ($fontSize: 1.125em){
    font-family: $primaryFont;
    font-size: $fontSize;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@mixin largeTitle {
    @include basicTitle($fontSize: 2em);
}

@mixin mediumTitle{
    @include basicTitle($fontSize: 1.125em);
    margin-bottom: 1.8em;
}

@mixin smallTitle{
    @include basicTitle($fontSize: 0.875em);
    color: $grey;
}

@mixin openTitle{
    font-family: $secondaryFont;
    font-size: 1.250em;
    font-weight: 700;
    letter-spacing: none;
}

@mixin pill($background: rgba(0,0,0,0.1), $color: $white){
    background: $background;
    color: $color;
    border-radius: 25px;
    padding: 9px 27px;
}

// General styles

body{
    font-family: $secondaryFont;
    font-size: 16px;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6, label{
    font-family: $primaryFont;
}

p{
    line-height: 1.8;
    margin-bottom: 1.8em;
    color: $darkGrey;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    &._noBottomSpacing{
        margin-bottom: 0;
    }
}

h1{
    font-family: $secondaryFont;
    font-size: 2.5em;
    font-weight: 300;
}

label{
    text-transform: uppercase;
    padding-bottom: 15px;
}

strong{
    font-weight:600;
}

em{
    font-style: italic;
}

hr{
    width: 100%;
    display: block;
    border: solid 1px $grey;
    margin: 25px auto;
}

// Variations

/****************************************
    Custom Modifer Classes
*****************************************/

._normalizeText{
    text-transform: none !important;
    letter-spacing: 0 !important;
}

._uppercased{
    text-transform: uppercase !important;
}

._smallTitle{
    @include smallTitle();

    &._withBackground {
        padding: 1rem 0.6rem 0.55rem 0.6rem;
        background-color: $backgroundGrey;
    }
}

._mediumTitle{
    @include mediumTitle();

    &._withBackground {
        padding: 2rem 2rem 1.55rem 2rem;
        background-color: $backgroundGrey;
    }
}

._largeTitle{
    @include largeTitle();
    margin-bottom: 0.75em;

    &._withBackground {
        padding: 2rem 1rem 1.55rem 1rem;
        background-color: $backgroundGrey;
    }

    &._withSubHeading {
        margin-bottom: 1rem;
    }
}

._centerText{
    text-align: center;
}

._subHeading{
    color: $grey;
    font-size: 1.2em;

    a{
        font-family: $secondaryFont;
        text-decoration: underline;
    }
}

._noTransform {
    text-transform: none !important;
}

@mixin plusMinusIcon ($color: $black) {
    position: relative;
    height: 0.5em;
    width: 0.5em;

    &:before,
    &:after{
        background: $color;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        width: 0.5em;
        transition: transform 500ms ease-in-out, top 500ms ease-in-out;
    }

    &:after{
        transform-origin: center;
    }

    &.collapsed{
        &:after{
            transform: rotate(90deg);
        }

        &:before{
            transform: rotate(180deg);
        }
    }

    &.arrow{
        &:after{
            @media screen and (min-width: $phoneBp) {
                top: -0.127em;
                transform: rotate(45deg);
            }
        }

        &:before{
            @media screen and (min-width: $phoneBp) {
                top: 0.127em;
                transform: rotate(325deg);
            }
        }
    }

    &:hover{
        &:after{
            @media screen and (min-width: $phoneBp) {
                top: -0.127em;
                transform: rotate(45deg);
            }
        }

        &:before{
            @media screen and (min-width: $phoneBp) {
                top: 0.127em;
                transform: rotate(325deg);
            }
        }
    }
}

._plusMinusToggle{
    @include plusMinusIcon();
}

@mixin minusIconPointer ($color: $black) {
    position: relative;
    height: 0.5em;
    width: 0.5em;

    &:before,
    &:after{
        background: $color;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        width: 0.5em;
        transition: transform 500ms ease-in-out, margin-left 500ms ease-in-out;
    }

    &:after{
        transform-origin: center;
    }

    &:hover{
        &:after{
            @media screen and (min-width: $phoneBp) {
                transform: rotate(310deg) translate(1px, 3px);
            }
        }

        &:before{
            @media screen and (min-width: $phoneBp) {
                transform: rotate(43deg) translate(-1px, 3px);
            }
        }
    }
}

._minusIconPointer{
    @include minusIconPointer();

    &._up{
        transform: rotate(180deg);
    }
}

@mixin plusIconPointer ($color: $black) {
    position: relative;
    height: 0.5em;
    width: 0.5em;

    &:before,
    &:after{
        background: $color;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        width: 0.5em;
        transition: transform 500ms ease-in-out, margin-left 500ms ease-in-out, margin-right 500ms ease-in-out;
    }

    &:after{
        transform: rotate(90deg);
        transform-origin: center;
    }

    &:before{
        transform: rotate(180deg);
    }

    &:hover{
        &:after{
            @media screen and (min-width: $phoneBp) {
                transform: rotate(47deg) translate(2px, -2px);
            }
        }

        &:before{
            @media screen and (min-width: $phoneBp) {
                transform: rotate(314deg) translate(-2px, -2px);
            }
        }
    }
}

._plusIconPointer{
    @include plusIconPointer();

    &._down{
        transform: rotate(180deg);
    }
}

@mixin fontSmoothen () {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._smoothFont{
    @include fontSmoothen();
}

@mixin fancyUnderline ($color: $lightPrimary, $height: 0.2em) {
    display: inline-block;
    position: relative;
    padding-bottom: 0.313em;

    &:after {
        bottom: 0;
        content: "";
        display: block;
        height: $height;
        left: 0;
        position: absolute;
        background: $color;
        width: 100%;
    }
}

._fancyUnderline{
    @include fancyUnderline();
}

p._inputNote {
    padding-bottom: 0;
    font-weight: 300;
    font-size: 1.3rem;

    &:after {
        content: none;
    }
}
