//=====================================================
//  1. General Site Setup
//=====================================================

$spacing            : 16px;
$spacingMedium      : 50px;
$spacingLarge       : 75px;
$spacingExtraLarge  : 200px;
$borderRadius       : 0.6em;


//=====================================================
//  2. Breakpoints
//=====================================================

$phoneBp    : 30em;         //480px
$tabletBp   : 50em;         //720px
$laptopBp   : 60em;         //960px
$desktopBp  : 100em;        //1366px

$BSTabletBP : 48em;
$BSLaptopBP : 61.938em;
$BSdesktopBP: 75em;

$breakpoints:
(
    phone:    $phoneBp,
    tablet:   $tabletBp,
    laptop:   $laptopBp,
    desktop:  $desktopBp
);

@function breakpoint($size) {
    @return map-get($breakpoints, $size);
}


//=====================================================
//  3. Colour Palette
//=====================================================

$lightPrimary     : rgba(25, 129, 202, 1);
$primary          : rgba(6, 64, 126, 1);
$darkPrimary      : darken($primary, 10%);
$facebookBlue     : rgba(65, 97, 164, 1);
$red              : rgba(206, 78, 69, 1);
$darkRed          : darken($red, 10);
$orange           : rgba(223, 78, 44, 1);
$yellow           : rgba(255, 203, 65, 1);
$green            : #29A26D;
$black            : rgba(0, 0, 0, 1);
$white            : rgba(255, 255, 255, 1);

$backgroundGrey   : rgba(240, 240, 240, 1);
$lightGrey        : rgba(172, 180, 186, 1);
$grey             : rgba(157, 167, 175, 1);
$darkGrey         : rgba(23, 26, 29, 1);

$paypalBlue       : rgba(25, 129, 202, 1);

//=====================================================
//  4. Font Family
//=====================================================

$primaryFont: 'Teko', sans-serif;
$secondaryFont: 'Karla', sans-serif;
