@import 'atoms/variables';

:global {
    #cartProcessingContainer {
        @media screen and (min-width: $phoneBp) {
            margin-bottom: 4rem;
        }
    }
}

.container{
    position: relative;
    height: auto;
    width: 100%;

    .fieldset{
        width: 100%;

        .message {
            a {
                text-decoration: none;
            }
        }
    }

    .partItem:nth-child(even){
        clear:both;
    }


    button[type='submit']{
        span > span{
            margin-left:1em;
        }
    }
}
