@import 'atoms/variables';

.container{
    position: relative;
    margin: auto;
    padding: 2em;
    overflow: hidden;

    :global{
        .linkedImage{
            img{
                width: 100%;
                margin: auto;
                display: block;
                border: solid 1px $lightGrey;
                margin-bottom: 1.8em;
                transition: box-shadow 0.2s ease-in-out;

                @media screen and (min-width: $laptopBp) {
                    position: absolute;
                    top: 2em;
                    left: 2em;
                    width: 25%;
                    min-width: 7.375em;
                    max-height: 80%;
                    margin-bottom: 0;
                }
            }

            & a:hover, & a:focus{
                img{
                    box-shadow: 0.125em 0.125em 1px $lightGrey;
                }
            }

        }
    }

    .content{
        @media screen and (min-width: $laptopBp) {
            padding-left: 35%;
        }

        @media screen and (min-width: $BSLaptopBP) {
            min-width: 35.625em;
        }

        p{
            margin-bottom: 0;
            text-align: left;

            strong{
                display: inline-block;
                position: relative;
                padding-bottom: 0.313em;
                margin-bottom: 0.3em;

                    &:after {
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 0.4em;
                    left: 0;
                    position: absolute;
                    background: $lightPrimary;
                    width: 100%;
                }
            }
        }

        span{
            color: $grey;
            display: block;
            font-weight: 200;

            &.quantity{
                margin: 0.5em 0 1.4em 0;

                span{
                    color: $white;
                }

                div{
                    display: inline-block;
                    width: auto;
                    min-width: 6em;
                    margin: 0 0.5em -1em 0.5em;

                    input{
                        margin-bottom: 0;
                    }
                }

                a{
                    float: left;
                    font-family: $secondaryFont;
                }
            }

            &.price{
                color: $darkGrey;
                font-weight: 600;
            }
        }
    }
}
