@import 'atoms/variables';
@import 'atoms/typography';

.makeList{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em;

    ul li{
        display:block;
        float: left;
        text-align: left;
        color:$white;
        font-family: $secondaryFont;
        margin-bottom: 1rem;
        width: 25%;
        @include fontSmoothen();

        @media screen and (max-width: $tabletBp) {
            text-align: center;
            display: block;
            width: 100%;
            padding-bottom: 1em;
        }

        a {
            font-size: 1.5rem;
            color:$white;
        }
    }
}
