@import 'atoms/variables';

.container{
    position: relative;
    margin: auto;
    padding: 2em;
    overflow: hidden;

    img{
        width: 100%;
        margin: auto;
        display: block;
        border: solid 1px $backgroundGrey;

        @media screen and (min-width: $laptopBp) {
            position: absolute;
            top: 2em;
            left: 2em;
            width: 25%;
            min-width: 7.375em;
        }
    }

    .content{
        @media screen and (min-width: $laptopBp) {
            padding-left: 35%;
        }

        @media screen and (min-width: $BSTabletBP) {
            min-width: 29.625em;
        }

        @media screen and (min-width: $BSLaptopBP) {
            min-width: 35.625em;
        }

        p{
            margin-bottom: 0;
            text-align: left;

            span{
                display: block;
                color: $grey;

                &.price{
                    font-family: $primaryFont;
                    font-size: 1.2em;
                    color: $darkGrey;
                    padding-top: 0.5em;
                    font-weight: 600;
                    margin-bottom: 1em;

                    span{
                        display: inline-block;
                        width: 0.313em;
                        height: 0.313em;
                        border-radius: 0.313em;
                        background: $grey;
                        margin: 0 0.3em;
                    }

                    em{
                        font-style: normal;
                        font-size: 0.9em;

                        &.green{
                            color: $green;
                        }

                        &.red{
                            color: $red;
                        }
                    }
                }
            }
        }

        a, button{
            float: left;
            @media screen and (max-width: $BSLaptopBP) {
                width: 100%;
                float: none;
            }

            &.addToCart{
                margin-bottom: 1em;

            @media screen and (min-width: $BSLaptopBP) {
                margin-right: 1em;
                margin-bottom: 0;
            }

            }
        }
    }
}
