@import 'atoms/variables';

.container {
    position: absolute;
    top: -250px;
    right: 0em;
    z-index: 10;
    display: inline-block;
    background: $green;
    padding: 0.6em 1em;
    text-align: center;
    transition: top 0.4s ease-in-out;

    @media screen and (max-width: 992px) {
        top: -17px;
    }

    @media screen and (max-width: $tabletBp) {
        display: none;
    }

    &.visible {
        top: -17px;
    }

    p {
        color: $white;
        font-size: 0.85em;
        margin-bottom: 0;

        strong {
            font-weight: 600;
        }
    }
}

.searchable {
    .container{
        top: -250px
    }
}
