@import 'atoms/variables';

.container {
    position: relative;
    padding-right: 2.75em;

    .submit {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        height: 2.9em;
        width: 2.9em;
        background: transparent;
        border: none;
        background: $primary;
        color: $white;
        transition: background 0.3s ease-in-out;

        &:hover{
            background: $darkPrimary;
        }

        i{
            font-size: 1.2em;
        }
    }
}
